
.iconModal{
    height: 35px;
    width: 35px;
    background-color: black;
    color: white;
    margin: 10px;
    font-size: 30px;
    margin-bottom: 25px;

}
.icoModal{
    margin-right: 10px;
}

.marco-modal{
    width: 350px;
    background-color: rgba(255, 2150, 0,1);
    border-radius: 25px;
    border: solid 5px black;
}
h2{
    font-family:  'Roboto', sans-serif;
}

.fondoUpper1{
    background-image: url("../../assets/fondoCartas.png") ;
}

.fondoLower1{
    background-image: url("../../assets/fondoCartas2.png") ;
}
.fondoFooter1{
    background-color: #20a4b9;
}

.fondoUpper2{
    background-color: #83016d;
}

.fondoLower2{
    background-image: linear-gradient(#83016d, #a0208f, #c78abd);
}
.fondoFooter2{
    background-color: #c78abd;
}