
.iconModal{
    height: 35px;
    width: 35px;
    background-color: black;
    color: white;
    margin: 10px;
    font-size: 30px;
    margin-bottom: 25px;

}
.icoModal{
    margin-right: 10px;
}

.marco-modal{
    width: 350px;
    background-color: rgba(255, 2150, 0,1);
    border-radius: 25px;
    border: solid 5px black;
}
h2{
    font-family:  'Roboto', sans-serif;
}