.newElement {
    width: 100%;
}

.newElementSpace {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin: 20px;
    display: flex;
}

.Input {
    width: 80%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
}