@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

$primary: #083F90;
$success: #308ADD;
$secondary: #000034;
$info: #0D2065;
$danger: #040D22;

$border-radius-lg: 1rem;


@media (min-width:992px){
    .button-100 {
        width: 160px;
    }
}
@media (max-width: 992px) and (min-width: 768px){
    .button-100 {
        width: 120px;
    }
}
@media (min-width:768px){
    .letter-upper {
        font-size: 0.75em;
    }
}
@media (max-width: 767px) {
    .letter-upper {
        font-size: 0.5em
    }
}
footer{
    background-color: 083F90;
    color: white;
}
.rabit-logo {
    height: 200px;
    
}
footer p {
    font-size: 15px;
}
.redes{
    position: relative;
    width: center;
    top: 30px;
    left: 50px;
    right:  50px;
}
#quienes_somos{
    position: relative;
    z-index: 1;
    background-color: 0F1023;
    height: 250px;
}
#quienes_somos .overlay{
    color: white;
    z-index: 2;   
    position:absolute;
    top: 20px;
    left: 50px;
    right:  50px;
}

#nuestros_estudiantes {
    position: relative;
    background-color: B5D7F7;
    
}


#nuestros_estudiantes img{
    height: 300px;
}
#nuestros_estudiantes .overlay{
    color: white;
    z-index: 2;   
    position:relative;
    
}
.opiniones{
    z-index: 2;
    position: relative;
    height: 200px;
    width: 200px;
    border: 10px;
    border-radius: 10px ;
    border-color: black;
}
footer{
    background-color: #083f90;
}
.rabit-logo {
    height: 100px;
     
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 

    border-right:15px solid #308ADD; 
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    
    border-left: 15px solid #308ADD;
}

.image_slider {
    width: 70%;
    margin: auto;

}
.image_slider img{
    width: 10%;
    height: auto;
}

.filtro{
    background-color: rgba(214, 218, 236, 0.514);
    position: relative;
    height: auto;
    max-height: 110vh;
    width: 290px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.cards {
    display: flex;
    align-items: flex-start;
      justify-content: center;
  }
  
.card {
    background: #fff;
    width: 24em;
    height: 28em;
    border-radius: 0.6em;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
  }
  
.card:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.5), 0 8px 32px -8px hsla(0, 0%, 0%, 0.2), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.2);
  }
  
.card img {
    width: 100%;
    object-fit: cover;
  }
  
.card h2 {
    color: #222;
    margin-top: -0.2em;
    line-height: 1.4;
    font-size: 1.3em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
  }
  
.card p {
    color: rgb(63, 62, 62);
  }
  
.card h5 {
    color: #000;
    font-weight: 700;
    font-size: 1.1em;
    letter-spacing: 0.04em;
    margin: 1.4em 0 0 0;
    text-transform: uppercase;
  }
  
.card-body {
    padding: 1.2em;
}






@import "~bootstrap/scss/bootstrap";